#### 1. Write SQL query to create table Customers.

In [1]:
#!pip install mysql
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root2020"
)
print(mydb)

In [4]:
#create database
mycursor = mydb.cursor()

mycursor.execute("create database worksheet4")

In [8]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)
mycursor = mydb.cursor()    
mycursor.execute("CREATE TABLE customers(customer_number integer,customer_name varchar(25),contact_first_name varchar(25),contact_last_name varchar(25),phone integer,address_line1 varchar(25),address_line2 varchar(25),city varchar(25),state varchar(25),poatal_code integer,country varchar(25),credit_limit integer)")

In [9]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)
mycursor = mydb.cursor()

mycursor.execute("show tables")

for x in mycursor:
    print(x)

('customers',)

#### 2. Write SQL query to create table Orders.

In [11]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)
mycursor = mydb.cursor()    
mycursor.execute("CREATE TABLE orders(order_number integer,order_date integer,required_date integer,shipped_date integer,status varchar(25),comments varchar(25),customer_number integer)")

ProgrammingError: 1050 (42S01): Table 'orders' already exists

In [16]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)
mycursor = mydb.cursor()

mycursor.execute("show tables")

for x in mycursor:
    print(x)

('customers',)
('orders',)

#### 3. Write SQL query to show all the columns data from the Orders Table.

In [15]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)
mycursor = mydb.cursor()

mycursor.execute("show columns from orders")

for x in mycursor:
    print(x)

('order_number', b'int', 'YES', '', None, '')
('order_date', b'int', 'YES', '', None, '')
('required_date', b'int', 'YES', '', None, '')
('shipped_date', b'int', 'YES', '', None, '')
('status', b'varchar(25)', 'YES', '', None, '')
('comments', b'varchar(25)', 'YES', '', None, '')
('customer_number', b'int', 'YES', '', None, '')

#### 4. Write SQL query to show all the comments from the Orders Table.

In [ ]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root2020",
    database="worksheet4"
)

In [ ]:
SELECT `orderDate`, COUNT(`orderNumber`) as `Total number of orders`
FROM Orders
GROUP BY `orderDate`;

In [ ]:
SELECT `employeeNumber` ,`lastName` ,`firstName` FROM Employees;

In [ ]:
SELECT `orderNumber` ,`customerName`
FROM Orders INNER JOIN customers
ON orders.`customerNumber`= customers.`customerNumber`;

In [ ]:
SELECT `customerName` , CONCAT(`firstName`,`lastName`)
FROM employees INNER JOIN customers
ON Employees.`employeeNumber`= customers.`salesRepEmployeeNumber`;

In [ ]:
SELECT `paymentDate`, SUM(amount)
FROM payments
GROUP BY `paymentDate`;

In [ ]:
SELECT `productName`,`MSRP`,`productDescription` FROM products;